body {
    background-color: black;
}

.btntext-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
    opacity: 1;
height: 100px

}

.btntext-fade {
    opacity: 0;
}

.timer-container {
  width: 100%;
  height: 10px;
  background-color: black;
  border-radius: 2px;
  overflow: hidden; 
}

.timer-bar {
  height: 100%;
  background-color: white;
  width: 100%;
  animation: shrink 300s linear forwards; 
}

@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}