body {
    background-color: black;
}

p {
    color:white;
    font: courier new;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}
/*---------------- division from text font to code ----------------*/
.id {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;;
}

#img-1 {
  border: gray 2px solid;
  height: 400px;
}

#text-element {
    transition: none;
}

.text-show {
    opacity: 1;
    color: white;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.text-fade {
    opacity: 0;
}

.timer-container {
  width: 100%;
  height: 10px;
  background-color: black;
  border-radius: 2px;
  overflow: hidden;
}

.timer-bar {
  height: 100%;
  background-color: white;
  width: 100%;
  animation: shrink 6000s linear forwards; 
}

@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}

.ButtonDisplay {
    display: flex;
    justify-content: center;
  flex-direction: column;
    opacity: 1;
height: 100px;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}