body {
    background-color: black;
}

p {
    color:white;
    font: courier new;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}
/*---------------- division from text font to code ----------------*/
.id {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;;
}

#img-1 {
  border: gray 2px solid;
  height: 400px;
}

#text-element {
    transition: none;
}

.text-show {
    opacity: 1;
    color: white;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.text-fade {
    opacity: 0;
}